div.gform_wrapper {
  margin: 0;
}

div.gform_wrapper li.hidden_label input {
  margin: 0;
}

div.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
div.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select,
div.gform_wrapper textarea.medium {
  border: none;
  background-color: rgba(255, 255, 255, 0.46);
  font-size: 1.25em;
  line-height: 36px;
  padding: 3px 5px;
  min-height: 42px;

  &::placeholder {
    color: #000;
  }
}

div.gform_wrapper .top_label li.gfield.gf_left_half .ginput_container:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm):not(.ginput_container_date):not(.ginput_quantity):not(.datepicker):not(.gfield_signature_container),
div.gform_wrapper .top_label li.gfield.gf_right_half .ginput_container:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm):not(.ginput_container_date):not(.ginput_quantity):not(.datepicker):not(.gfield_signature_container) {
  margin: 0;
}

div.gform_wrapper .top_label li.gfield.gf_left_half,
div.gform_wrapper .top_label li.gfield.gf_right_half {
  margin: 1.3% 0;
}

div.gform_wrapper .top_label li.gfield.gf_left_half {
  padding-right: 1.45%;
}

div.gform_wrapper .top_label li.gfield.gf_right_half {
  padding-left: 1.45%;
}

div.gform_wrapper ul.gform_fields li.gfield,
div.gform_wrapper .top_label li.gfield.gf_right_half {
  padding-right: 0;
}

div.gform_wrapper div.gform_footer {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 2.5% 0 0;
}

div.gform_wrapper .gform_footer input.button,
div.gform_wrapper .gform_footer input[type=submit] {
  display: block;
  width: 100%;
  max-width: 188px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125em;
  line-height: 36px;
  letter-spacing: 0.018em;
  font-weight: 500;
  border: 4px solid #fff;
  text-align: center;
  padding: 2px 0;
  margin: 0;
  background: none;
}