@import "global";
@import "header";
@import "footer";
@import "form";

.toggle-content {
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center;

  .reveal-box {
    display: block;
  }

  &:hover {
    & > {
      .light-box {
        opacity: 0;
        z-index: 1;
      }

      .reveal-box {
        opacity: 1;
        z-index: 10;
      }
    }
  }

  .light-box {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
  }
}

.no-toggle {
  padding-top: 100%;
  max-height: 400px;
  height: 100%;
}

.toggle {
  background-size: cover;
  background-position: center;
}

.pack-choice {
  cursor: pointer;
}

.light-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: all 0.5s ease;
  min-height: 100%;

  .title {
    text-align: center;
    padding: 0 0 40px;

    h2 {
      color: #fff;
      font-size: 2.81em;
      letter-spacing: 0.02em;
      text-transform: uppercase;
    }

    h3 {
      color: #21dd76;
      font-size: 1.75em;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      margin: 0;
    }
  }
}

.reveal-box {
  position: relative;
  transition: all 0.5s ease;
  opacity: 0;
  display: none;

  .inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-wrapper {
      text-align: center;

      h2 {
        color: #fff;
        font-size: 1.75em;
        letter-spacing: 0.02em;
        line-height: 36px;
        position: relative;
        display: inline-block;
        padding: 25px 0 15px;

        &::after {
          content: "";
          width: 140%;
          border-bottom: 2px solid #fff;
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
        }
      }
    }

    .content-wrapper {
      max-width: 73%;
      margin: 8% 0;

      p {
        font-size: 1.25em;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #fff;
        text-align: center;
        margin: 0;
      }
    }

    .button-wrapper {
      @include button(#fff, #000);
      margin: 9% 0;
    }
  }
}

.accordian {
  .question {
    background-color: #398555;
    display: flex;
    align-items: center;
    padding: 9px 20px;
    cursor: pointer;
    box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.33);
    margin: 1px 0px;

    h4 {
      margin: 0 10px;
      color: #fff;
      font-size: 1.25em;
      line-height: 36px;
      letter-spacing: 0.02em;
    }

    .down-arrow {
      margin-left: auto;
    }
  }

  .answer {
    background-color: rgba(0, 0, 0, 0.66);
    overflow: hidden;
    height: 0;
    transition: all 0.2s ease-out;
    padding: 0 3.125em;

    &.show {
      padding: 2.375em 3.125em 5em;
      height: auto;
    }

    p {
      color: #fff;
      font-size: 1.25em;
      line-height: 24px;
      letter-spacing: 0.02em;
      margin: 0;
    }
  }
}

.cta {
  padding: 1.6% 0;

  p,
  a {
    margin: 0;
    font-size: 1.375em;
    line-height: 36px;
    letter-spacing: 0.025em;
    vertical-align: middle;
  }

  a {
    font-size: 1.5em;
    color: #308653;
  }

  &.alt {
    a {
      color: #fff;
    }
  }
}
.pack-info {
  .pack-column {
    background-size: cover;
    background-position: center;
  }
}

.product-info {
  max-width: 570px;
  padding: 7% 0 7% 7.5%;

  .title-wrapper {
    margin: 0 0 20px 0;

    h2 {
      font-size: 2.81em;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.5em;
      letter-spacing: 0.03em;
      line-height: 28px;
      margin: 0;
    }
  }

  .hire-rates {
    .top {
      background-color: #398555;
      padding: 3.5%;
      h3 {
        font-size: 1.75em;
        line-height: 36px;
        color: #fff;
        margin: 0;
        text-align: center;
      }
    }

    .rates {
      background-color: rgba(0, 0, 0, 0.83);
      padding: 5em 3.375em 2.25em;
      p {
        font-size: 1.25em;
        line-height: 36px;
        color: #fff;
      }

      .h-row {
        display: flex;
        justify-content: space-between;

        p {
          font-size: 1.75em;
          &:not(.discount) {
            margin-bottom: 10px;
          }
        }
      }
    }
    .g-button-wrapper {
      margin: 2.5em 0 0;
    }
  }
}

#product-slider {
  margin-top: 20px;
  .carousel-inner {
    .carousel-item {
      .image-half {
        max-width: 445px;
        margin-left: auto;
        .title-wrapper {
          h2 {
            font-size: 2.81em;
            line-height: 36px;
          }
        }
        .main-image {
          margin: 9% 0;
          .image-wrapper {
            img {
              max-width: 100%;
            }
          }
        }
        .mini-images {
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
